 #form-card { background-color:clear;
    align-items: center;
}
.service-form {background-color: none;

} 
.srv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#home {
    height: 250px;
    width: 250px;
    float: left;
}
#electrical {
    height: 250px;
    width: 250px;
}
#security {
    height: 250px;
    width: 250px;
    float: right;
}
#team {
    height: 250px;
    width: 250px;
}