
h5{
    margin-top:50px; 
    font-size: 150%;
    font-family: 'Cuprum', sans-serif;
}
    
 
}
/* .container{
    width: 80%;
    margin: 0 auto; 
    font-size: 20px;
    font-family: 'Cuprum', sans-serif;
     */
}
.carousel-caption{
    font-size: 30px;
    color: 
} */

#Aboutus{
    background-color: black;
    color: black;
    border: 2px solid;
    transition: all is ease-in-out;

}
#Aboutus:hover{
    color: blue;
    border: 2px solid;
    background: rgb(6,163,202)

}
#cn1{
    position: initial;
   padding-top: 170px;
   font-size: 60px;
   color: whitesmoke;
   font-family: 'Kaushan Script', cursive;
}
#about{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: black;
    font-style: oblique;

}
.pp1{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/back4.jpg")center/ cover no-repeat fixed;
    /* background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
    height: 100%;
    width: 100%; */
}

#are {
    width: 50%
}

h2 {
    text-align: center;
    color: blue;
    font-size: medium;
    font-family: fantasy;
}


.text{
    display: none;
}
.underline{
    width: 200px;
    height: 10px;
    background-color: gold;
    margin: 0 auto;
}
.font p{
    font-size: 20px
}
#it{
    font-size: 20px;
}
.hamisha{
     color: black;
}
#contact{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0,0,0,0));
    color: #fff;
    min-height: 500px;
}
a{
    color: #fff;
}
#form-card { background-color:clear;
    align-items: center;
}
.service-form {background-color: none;

p{
    color :black;
    text-align: center;
    font: bolder;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    color:blue;
    text-align: left;
    font-style: oblique;
    }
 p{
     text-align: left;
     text-decoration: grey;
     
 }
 h2{
     color: navy;
 }
 h3{
     color: blue;
 }
 h4{
     color: blue;
 }
 h6{
     color: blue;
     font: bolder;
     font-size: 50px;
 }
 h5{
     /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9_KQ2zLv8Yyug4yV2TDY3ixQur80H5E8hjtV-vpmY3j9bw6Sh&s"); */
     color: blue;
 }
 header{
    display: block;
   font-size: 1.5em;
   margin-block-start: 0.83em;
   margin-block-end: 0.83em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   font-weight: bold;
}
 .bluebox{
    /* background-color: #43c9e1; */
     color:blue;
     font-size: 30px;
     display: flex;
    
 }
 .main p{
text-align: center;
color: purple;
font-style: italic;
font-size: 20px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 
 #form-card { background-color:clear;
    align-content: center;
    margin-left: 20%;
    background-color: none;
}
.service-form {background-color: none;

} 
.srv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#home {
    height: 250px;
    width: 250px;
    float: left;
}
#electrical {
    height: 250px;
    width: 250px;
}
#security {
    height: 250px;
    width: 250px;
    
}
#team {
    height: 250px;
    width: 250px;
}
.flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #F1F1F1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  /* Style the front side (fallback if image is missing) */
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  /* Style the back side */
  .flip-box-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }

